<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oaup.admin.backend.dao.ProductPriceDao">
	<resultMap id="BaseResultMap" type="com.oaup.admin.backend.support.model.po.ProductPrice">
		<result column="product_price_id" property="productPriceId" />
		<result column="product_id" property="productId" />
		<result column="pay_price" property="payPrice" />
		<result column="market_price" property="marketPrice" />
		<result column="cost_price" property="costPrice" />
		<result column="unit_price_id" property="unitPriceId" />
		<result column="status" property="status" />
		<result column="create_user_id" property="createUserId" />
		<result column="update_time" property="updateTime" />
		<result column="create_time" property="createTime" />
	</resultMap>

	<sql id="Base_Column_List_Insert">
		 product_price_id, product_id, pay_price, market_price, cost_price, unit_price_id, status, create_user_id, update_time, create_time
	</sql>
	
	<sql id="Base_Column_List">
		<include refid="Base_Column_List_Insert" />
	</sql>
	
	<select id="load" resultMap="BaseResultMap" parameterType="java.lang.Long">
	
		SELECT <include refid="Base_Column_List" /> FROM product_price 
		where  product_price_id = #{id}
		
	</select>
	
	<!-- 查询 商品价格表 数据集合 -->
	<select id="queryByPage" resultMap="BaseResultMap" parameterType="com.oaup.admin.backend.support.model.po.ProductPrice">
		SELECT
		<include refid="Base_Column_List" />
		FROM product_price
		<where>
				<if test="productPriceId != null">
					AND product_price_id = #{productPriceId}
				</if>
				<if test="productId != null">
					AND product_id = #{productId}
				</if>
				<if test="payPrice != null">
					AND pay_price = #{payPrice}
				</if>
				<if test="marketPrice != null">
					AND market_price = #{marketPrice}
				</if>
				<if test="costPrice != null">
					AND cost_price = #{costPrice}
				</if>
				<if test="unitPriceId != null">
					AND unit_price_id = #{unitPriceId}
				</if>
				<if test="status != null">
					AND status = #{status}
				</if>
				<if test="createUserId != null">
					AND create_user_id = #{createUserId}
				</if>
				<if test="updateTime != null">
					AND update_time = #{updateTime}
				</if>
				<if test="createTime != null">
					AND create_time = #{createTime}
				</if>
		</where>
	</select>
	
	<select id="query" resultMap="BaseResultMap" parameterType="com.oaup.admin.backend.support.model.po.ProductPrice">
		SELECT
		<include refid="Base_Column_List" />
		FROM product_price
		<where>
				<if test="productPriceId != null">
					AND product_price_id = #{productPriceId}
				</if>
				<if test="productId != null">
					AND product_id = #{productId}
				</if>
				<if test="payPrice != null">
					AND pay_price = #{payPrice}
				</if>
				<if test="marketPrice != null">
					AND market_price = #{marketPrice}
				</if>
				<if test="costPrice != null">
					AND cost_price = #{costPrice}
				</if>
				<if test="unitPriceId != null">
					AND unit_price_id = #{unitPriceId}
				</if>
				<if test="status != null">
					AND status = #{status}
				</if>
				<if test="createUserId != null">
					AND create_user_id = #{createUserId}
				</if>
				<if test="updateTime != null">
					AND update_time = #{updateTime}
				</if>
				<if test="createTime != null">
					AND create_time = #{createTime}
				</if>
		</where>
	</select>
	
	<!-- 修改 商品价格表 数据 -->
	<update id="update" parameterType="com.oaup.admin.backend.support.model.po.ProductPrice">
		UPDATE product_price
		<set>
				<if test="productId != null">
					product_id = #{productId},
				</if>
				
				<if test="payPrice != null">
					pay_price = #{payPrice},
				</if>
				
				<if test="marketPrice != null">
					market_price = #{marketPrice},
				</if>
				
				<if test="costPrice != null">
					cost_price = #{costPrice},
				</if>
				
				<if test="unitPriceId != null">
					unit_price_id = #{unitPriceId},
				</if>
				
				<if test="status != null">
					status = #{status},
				</if>
				
				<if test="createUserId != null">
					create_user_id = #{createUserId},
				</if>
				
				<if test="updateTime != null">
					update_time = #{updateTime},
				</if>
				
				<if test="createTime != null">
					create_time = #{createTime},
				</if>
				
		</set>
			where  product_price_id=#{productPriceId}
	</update>
	
	
	<!-- 根据ID删除 商品价格表 数据 -->
	<update id="delete" parameterType="java.lang.Long">
		DELETE FROM  product_price WHERE  product_price_id = #{id}
	</update>
	
	<!-- 添加 商品价格表 数据 -->
	<insert id="insert" parameterType="com.oaup.admin.backend.support.model.po.ProductPrice" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO product_price (<include refid="Base_Column_List_Insert" />)
		VALUES ( #{productPriceId}, #{productId}, #{payPrice}, #{marketPrice}, #{costPrice}, #{unitPriceId}, #{status}, #{createUserId}, #{updateTime},#{createTime})
	</insert>
	
	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM product_price where 
		product_price_id in 
		<foreach collection="list"  item="item" open="(" separator="," close=")">
			#{item.productPriceId}
		</foreach>
	</delete>
	
	<insert id="insertBatch" parameterType="java.util.List"  useGeneratedKeys="true" keyProperty="id" >
	
		INSERT INTO product_price (<include refid="Base_Column_List_Insert" />) VALUES
			<foreach collection="list"  item="item" separator="," >
				 (#{item.productPriceId},#{item.productId},#{item.payPrice},#{item.marketPrice},#{item.costPrice},#{item.unitPriceId},#{item.status},#{item.createUserId},#{item.updateTime},#{item.createTime})
			</foreach>
	</insert>
	
</mapper>